<div>
    This is the homepage
</div>

<div>
    <ul class="post-list pl-0 pt-3" style="list-style: none;">
        {{#each form_data as |form|}}
            <li>
                {{form.name}}
            </li>
            <li>
                {{form.email}}
            </li>
            <li>
                {{form.note}}
            </li>
        {{/each}}
    </ul>
</div>